<% layout('layouts/boilerplate')%>
    <h1>Edit Attraction</h1>
    <form action="/attractions/<%=attraction._id%>?_method=PUT" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="attraction[name]" value="<%=attraction.name%>">
        </div>
        <div>
            <label for="region">Region</label>
            <input type="text" id="region" name="attraction[region]" value="<%=attraction.region%>">
        </div>
        <div>
            <label for="country">Country</label>
            <input type="text" id="country" name="attraction[country]" value="<%=attraction.country%>">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" id="description" name="attraction[description]" value="<%=attraction.description%>">
        </div>
        <div>
            <label for="image">Image</label>
            <input type="text" id="image" name="attraction[image]" value="<%=attraction.image%>">
        </div>
        <button>Update Attraction</button>
    </form>
    <a href="/attractions/<%= attraction._id %>">Back To Attraction</a>