<% layout('layouts/boilerplate')%>
    <h1>
        <%=attraction.name%>
    </h1>
    <h2>
        <%=attraction.region%> - <%=attraction.country%>
    </h2>
    <img src="<%=attraction.image%>">
    <p>
        <%=attraction.description%>
    </p>
    <p>
        <a href="/attractions/<%=attraction._id%>/edit">Edit</a>
    </p>
    <p>
    <form action="/attractions/<%=attraction._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
    <footer>
        <a href="/attractions">All Attractions</a>
    </footer>