<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <!--<link rel="stylesheet" href="/stylesheets/index.css">-->
    <link rel="stylesheet" href="/stylesheets/show.css">
    <!--can include a link in body-->

    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Nuosu+SIL&family=Open+Sans:wght@700&family=Radio+Canada:wght@300&display=swap" rel="stylesheet">

<div class="container" id="div1">
    <h1 class="card-title" font-family="Arial">
        <%=attraction.name%>
    </h1>
    <div class="row mb-3">
        <div class="col-6">
            <div>
                <div id="about">
                    <h2 class="about">About</h2>
                    <hr>
                    <div class="mb-3">
                        <p class="card-text">
                            <%=attraction.description%>
                        </p>
                        <% if (currentUser && attraction.author.equals(currentUser)) { %>
                            <!-- makes it so that only the author of the page can make edits or delete-->
                            <p>
                                <a href="/attractions/<%=attraction._id%>/edit">Edit</a>
                            </p>
                        <%}%>
                    </div>
                </div>
                <p class="font-weight-light font-italic">Submitted by: <%= attraction.author.username %>
                    <% if (currentUser && attraction.author.equals(currentUser)) { %>
                        <div>
                            <form action="/attractions/<%=attraction._id%>?_method=DELETE" method="POST"
                                class="validated-form">
                                <button>Delete</button>
                            </form>
                        </div>
                    <%}%>
                </p>
            </div>
            <div class="mt-1">
                <h2 id="loc">Location</h2>
                <hr>
                <div id="mini">
                    <div id='map' style='width: 350px; height: 300px;'></div>
                </div>
                <h3 class="display-5" id="area">
                    <%=attraction.region%> - <%=attraction.country%>
                </h3>
            </div>
        </div>

        <div class="col-6" id="location">


            <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <% attraction.images.forEach((img, i)=> {%>
                        <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                            <img class="d-block w-100" src="<%=img.url%>" alt="">
                        </div>
                        <%})%>
                </div>
                <% if (attraction.images.length> 1) {%>
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <%}%>
            </div>
        </div>
    </div>
    <div class="">
        <% if (currentUser) {%>
            <h2>Leave a Review</h2>
            <form action="/attractions/<%=attraction._id%>/reviews" method="POST" class="mb-5 validated-form">
                <!--<div class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
                </div>-->
                <div class="mb-3">
                    <fieldset class="starability-basic">
                        <legend>Rating:</legend>
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0"
                            checked aria-label="Default rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>

                <!-- Inserting this today (06/10/2022)-->
                <!--<div class="stars">
                    <span class="star on"></span>
                    <span class="star half"></span>
                    <span class="star"></span>
                </div>-->
                <!---->
                <div class="mb-3">
                    <label for="body" class="form-label">Review Description</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"></textarea>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <% for (let review of attraction.reviews) { %>
                <div class="card mb-3 bg-light border-primary">
                    <div class="mb-3 card-body">
                        <!--<h5 class="card-title">Rating:</h5>-->
                        <h6 class="card-title starability-result" data-rating="<%=review.rating%>">
                            <%=review.rating%>
                        </h6>
                        <h6 class="card-subtitle mb-2 text-muted">By <%=review.author.username%>
                        </h6>
                        <p><%=review.body%></p>
                    </div>
                    <% if (currentUser && review.author.equals(currentUser._id)) {%>
                        <form action="/attractions/<%=attraction._id%>/reviews/<%=review._id%>?_method=DELETE"
                            method="POST">
                            <button class="btn btn-sm btn-danger mb-1 ml-1">Delete</button>
                        </form>
                    <%}%>
                </div>
            <%}%>
        <%}%>
    </div>
    <footer id="all">
        <a href="/attractions">All Attractions</a>
    </footer>
</div>

    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
        const attraction = <%- JSON.stringify(attraction) %>
    </script>
    <script src="/assets/showMapBox.js"></script>